---
layout: base
title: "Antigua, Guatemala: Digitální nomádství - kam vyrazit"
description: "Tipy jak se usídlit a pracovat na dálku z Antigua, Guatemala. Kde spát, odkud pracovat, co kolik stojí a kde nakupovat."
keywords: "Antigua, Guatemala, lokace, místo, digitální nomádství, kam vyrazit, kde, město, lokalita, práce na dálku"
permalink: antigua.html
---

<ul class="submenu">
	<li class="home" title="Zobrazit rozcestník míst"><a href="index.html">☰</a></li>
	<li class="place">Antigua:</li>
	<li><a href="#basics">Základní info</a></li>
	<li><a href="#sleep">Kde tam bydlet</a></li>
	<li><a href="#food">Jídlo a nákupy</a></li>
	<li><a href="#work">Odkud pracovat</a></li>
	<li><a href="#activities">Aktivity</a></li>
	<li><a href="#seasons">Kdy tam vyrazit</a></li>
	<li><a href="#transportation">Jak se tam přepravovat</a></li>
	<li><a href="#locations">Návazné lokace</a></li>
</ul>
<div id="antigua" class="place">
	<div class="text">
		<div class="box" id="basics">
			<h1>Antigua, Guatemala</h1>
			<p>Antigua je v obležení tří aktivních sopek, které tvoří dost významně její atmosféru. Byla založena jako koloniální město a tak jsou ve městě zachovalé barokní a renesanční budovy. Ve městě je spousta kvalitních restaurací a kaváren s lokální výběrovou kávou. Říká se, že Antigua je taková guatemalská bublina – je o dost dražší než zbytek celé země, žije tu spousta expatů, kteří jsou buď v důchodu nebo odsud řídí svůj byznys. Město leží 1600 m.n.m. a tak je tam příjemně chladněji.
			</p>
			<ul>
				<li>35 tisíc obyvatel</li>
				<li>výstavba města 1543</li>
				<li>za koloniální doby, jedno z hlavních měst, z kterého se řídila celá Střední Amerika</li>
				<li>1773 zemětřesení zničilo podstatnou část města</li>
				<li>velký městský trh s ovocem, zeleninou, oblečením,... </li>
			</ul>
		</div>
		<div class="box" id="sleep">
			<h2>Kde tam bydlet?</h2>
			<p>Bydleli jsme 18 dní <a href="https://www.airbnb.com/rooms/5386459">v tomhle Airbnb domě</a>. Je tam hezká sdílená kuchyň, která je na půl otevřená do zahrady a 8 pokojů a dvě sdílené koupelny. Velmi klidné místo a <strong>na hlavním náměstí jste do 10 minut</strong> chůzí. Funguje to tak, že po zaplacení Airbnb dostanete zprávou 4 místný kód k hlavním dveřím a pak u vašeho pokoje najdete normální klíč ve dveřích. Vlastní to američan, který tam nežije a chodí dopoledne uklízet jedna místní slečna. Cena byla kolem 20 euro za pokoj / noc.</p>

		</div>
		<div class="box" id="food">
			<h2>Jídlo a nákupy?</h2>
			<p>Hodně jsme vařili s úžasných surovin <a href="https://www.google.com/maps/place/Local+Market,+Antigua+Guatemala,+Guatemala/@14.5597673,-90.7361162,16z/data=!4m6!1m3!3m2!1s0x85890e74b0250b15:0xf786ba2b2903723d!2sAntigua+a+Barbuda,+Guatemala!3m1!1s0x85890e0eaa65e26d:0x1cef933896314d74">na místním trhu</a>, na kterém za 300 Kč <a href="https://www.instagram.com/p/BExB_NgKSAZ">nakoupíte tři tašky plné jídla</a>. Akorát trh je přesně na druhé straně města, než výše zmíněné ubytování, tak se ty věci trochu pronesou :)</p>
			<p>Po městě si můžete všimnout lokálních žen s přikrytými koši, většinou mají čerstvé malé tortilly – supr doplněk, k tomu když si něco doma uvaříte. Nebo u trhu potkáte tyhlety paní <a href="https://www.instagram.com/p/BEogmjXqSNM/">nabízející obří tacos</a>! Nejlepší snídani jsme měli <a href="https://www.instagram.com/p/BERHx4PKSHU">v kavárně Ganache.</a> </p>
			<p>Ve městě je spousta restaurací, my jich pár vyzkoušeli a nebyli jsme nadšení z poměru cena – hodnota a proto vám tady žádné nedoporučím.</p>
			<div class="notes">
				<ul>
					<li>1 guatemalský quetzal = 3 Kč</li>
					<li>Mango 2 gtz!</li>
					<li>Banány, avokáda, chia  4 qtz za kilo</li>
					<li>Specialty coffee 10-15 qtz</li>
					<li>Oběd v Economy restauraci 20 qtz</li>
					<li>Večeře ve western style 80-150 gtz</li>
					<li>Chicken bus, když pojedete mimo město: 1-20 qtz (podle vzdálenosti)</li>
				</ul>
			</div>
		</div>
		<div class="box" id="work">
			<h2>Odkud pracovat</h2>
			<p>Pracovali jsme hlavně z kaváren, kterých je tam opravdu nespočet. Některé mají krásné vnitrobloky s fontánkou a zahradou, odkud je radost pracovat. Tady mé nejoblíbenější.</p>
			<ul>
			<li><a href="https://www.google.cz/maps/place/Bella+Vista+Coffee/@14.556715,-90.735198,15z/data=!4m2!3m1!1s0x0:0xdf805a383970dc4d?sa=X&amp;ved=0ahUKEwiClOuKioLPAhWC7RQKHU-rBeEQ_BIIeDAK">Bella Vista cafe<br /></a>Kavárna, v které jsem potkal české baristy z Doubleshotu, kteří tam byli na zkušenou :) kávu připravují z vlastní kávové farmy a nahoře <a href="https://www.instagram.com/p/BEoyvScqSG3/?taken-by=adam.marcan">na střeše jsou dobré stoly</a> na práci i barový vyvýšený stůl s nádherným výhledem a přitom ve stínu.</li>
			<li><a href="https://www.google.cz/maps/place/GuateJava/@14.5552693,-90.7362583,15z/data=!4m2!3m1!1s0x0:0x57df6b6fbe733802?sa=X&amp;ved=0ahUKEwiu58GPi4LPAhWCzxQKHVgpC2UQ_BIIfDAK">GuateJava<br /></a>Dobrá káva v pohodě internet, absence seriózních stolů, jen jeden vyvýšený na stojáka<a href="https://www.google.cz/maps/place/GuateJava/@14.5552693,-90.7362583,15z/data=!4m2!3m1!1s0x0:0x57df6b6fbe733802?sa=X&amp;ved=0ahUKEwiu58GPi4LPAhWCzxQKHVgpC2UQ_BIIfDAK"><br /></a></li>
			<li><a href="https://www.google.com/maps/place/Uni%C3%B3n+Caf%C3%A9+%26+Juice+Bar,+6a+Calle+Oriente,+%23+10,+Antigua+Guatemala,+Guatemala/@14.5556187,-90.7312587,20z/data=!4m5!1m2!2m1!1sAntigua+Guatemala,+Guatemala+economico!3m1!1s0x85890e72543d7e57:0xf5ef749b02c7b593">Unión cafe</a><br />Nejlepší espresso co jsem ve městě pil, malinká kavárna dole, ale nahoře dost stolů a klid na práci. </li>
			</ul>
		</div>
		<div class="box" id="activities">
			<h2>Aktivity</h2>
			<p></p>
			<ul>
				<ul>
					<li><a href="https://goo.gl/maps/RASic7jsXuK2">Sobotní farmářské trhy na Caoba farmě</a><br />Pěstují organickou zeleninu a každou sobotu pořádají trhy, kde je 10-15 stánků s jídlem + můžete koupit různá pesta a dobroty od prodávajících a také si projít farmu. Hezká procházka z centra. </li>
					<li><a href="https://www.google.com/maps/place/Valhalla+Macadamia+Farm,+Guatemala/@14.5165395,-90.7879257,17z/data=!4m2!3m1!1s0x85891054c6d15c8f:0x413889879de47c5a">Valhalla Macadamia Farm</a><br />Makadamiové oříšky asi znáte, tady se jich bude válet stovky na zemi, pod krásnými stromy, z kterých padají. Zdarma vám ukážou jak na farmě hospodaří a řeknou o její historii a vy si pak můžete, ale nemusíte dát něco v jejich restauraci. Doporučuju lívance z makadamiové mouky polité makadamiovým máslem a domácí bramborové chipsy s česnekem!</li>
					<li>Každodenní procházka na <a href="https://www.instagram.com/p/BE6LzYDKSPG">Mirador De La Cruz</a><br />Nahoře jste za 15 minut a ten výhled na město ze sopkou byl jedním z hlavních wow celé cesty po Střední Americe! Doporučuju tam chodit každý den, vzít si třeba knížku a kochat se. Osobní štěstí vzroste nejméně o 25% :) Doporučuju pak slézt na druhou stranu kopce (ne zpět do města, ale na opačnou stranu, dostanete se do velmi autentické chatrčové oblasti plné lokálního života, který vám dole v centru může trochu chybět...</li>
					<li>Výlet na sopku<br />Po městě najdete spousta prodejců výletů na sopky a přejezdy do dalších měst, nemáme osobní zkušenost a tak nedoporučím.</li>
				</ul>
			</ul>
		</div>
		<div class="box" id="seasons">
			<h2>Kdy tam vyrazit</h2>
			<p><strong>Od Ledna do dubna</strong> je nejméně srážek, pak postupně přibývají a nejvíce prší od července do listopadu. Teplota je stabliní kolem 25-28 °C.</p>
		</div>
		<div class="box" id="transportation">
			<h2>Jak se tam přepravovat</h2>
			<p>Po městě pěšky, není tak velké. Nebo večer taxíkem, kdybyste se necítili bezpečně, my se cítili. Mimo město chickenbusem – to platí i pro návštěvu té Makadamiové farmy. Na motorkách jezdí spíš místní, na kole jsem nikoho neviděl – povrch je v centru hodně historický, tj. udělán z velkých kamenů.</p>

		</div>
		<div class="box" id="locations">
			<h2>Návazné lokace</h2>
			<ul>
			<li><a href="http://wikitravel.org/en/Lake_Atitlan">Lake Atitlan</a><br />Místo kam fakt musíte, když jste ve Střední Americe, spali jsme ve vesnici San Marcos <a href="https://www.airbnb.com/rooms/7387779">u tří belgičanů na AirBnb</a> a nikdy jsem neměl krásnější výhled z pokoje. Přibližně 20 euro za noc pro dva. </li>
			<li><a href="http://wikitravel.org/en/Guatemala_city">Guatemala city</a> <br /> jedno z nejnebezpěčnějších míst ve Střední Americe, visí to tam ve vzduchu, vojácí na pick-upech na každém rohu. Na druhou stranu hezká promenáda v centru a streefoody.</li>
			<li><a href="http://wikitravel.org/en/Tikal">Tikal</a> <br /> rozsáhlý komplex ruin jednoho z největších májských měst. Ubytujete se pravděpodobně <a href="http://wikitravel.org/en/Flores_(Guatemala)">ve Floresu</a>, odkud jezdí výlety.</li>
			<li><a href="http://wikitravel.org/en/El_Salvador">El Salvador</a> <br /> sousední země, surfařský spot El Tunco, cca hodinu ze Sal Salvador. Doporučuji ochutnat 	<a href="https://www.google.co.th/search?q=papusas+guatemala&espv=2&biw=1280&bih=699&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiZjNyG3t7QAhUFuY8KHcY6DucQ_AUIBigB">papusas</a> - kukuřičná placka plněná fazolemi a sýrem a navrch si dáte naložený zeleninový salát.</li>
			<li><a href="http://wikitravel.org/en/Mexico">Mexico<a/></li>
			<li><a href="http://wikitravel.org/en/Belize">Belize</a> <br /> Velmi zvláštní země, údajně skvělé korálové útesy – šnorchlování. Stavěli jsme jen asi na hodinu v Belize city, mluví se tam anglicky a většina obyvatelstva jsou černoši, měl jsem pocit jako něco mezi Británií, New Orleans, Kuby (znám jen z filmů) a San Salvadoru (ve smyslu nebezpečnějšího místa).
			</li>
			<li><a href="http://wikitravel.org/en/Nicaragua">Nicaragua</a> <br /> doporučuji navštívit <a href="http://wikitravel.org/en/Matagalpa">Matagalpu</a> městečko v horách, minimum turistů. <a href="http://www.surfingturtlelodge.com/">Tento hostel</a> na kilometry prázdné pláži u Las Peñitas – navíc podpoříte jejich aktivity s lihnutím želv. Dále určitě stojí za to <a href="http://wikitravel.org/en/Leon_(Nicaragua)">León</a>, <a href="http://wikitravel.org/en/Granada_(Nicaragua)">Granada</a>, ostrov <a href="http://wikitravel.org/en/Ometepe">Ometepe</a> či surfing na <a href="http://wikitravel.org/en/San_Juan_del_Sur">San Juan del Sur</a>. </li>
			</ul>
		</div>
	</div>
	<div class="photos">
		<img src="assets/img/antigua/antigua1.jpg" alt="" />
		<img src="assets/img/antigua/antigua2.jpg" alt="" />
		<img src="assets/img/antigua/antigua3.jpg" alt="" />
		<img src="assets/img/antigua/antigua4.jpg" alt="" />
		<img src="assets/img/antigua/antigua5.jpg" alt="" />
		<img src="assets/img/antigua/antigua7.jpg" alt="" />
		<img src="assets/img/antigua/antigua8.jpg" alt="" />
		<img src="assets/img/antigua/antigua9.jpg" alt="" />
		<img src="assets/img/antigua/antigua11.jpg" alt="" />
		<img src="assets/img/antigua/antigua12.jpg" alt="" />
		<img src="assets/img/antigua/antigua10.jpg" alt="" />
	</div>
</div>
<div class="clear"></div>

{% include footer.html %}
{% include widget/course-719.html %}
