---
layout: base
title: "Da Nang, Vietnam: Digitální nomádství - kam vyrazit"
description: "Tipy jak se usídlit a pracovat na dálku z Da Nangu ve Vietnamu. Kde spát, odkud pracovat, co kolik stojí a kde nakupovat."
keywords: "Da Nang, Vietnam, lokace, místo, digitální nomádství, kam vyrazit, kde, město, lokalita, práce na dálku"
permalink: danang.html
---

<ul class="submenu">
	<li class="home" title="Zobrazit rozcestník míst"><a href="index.html">☰</a></li>
	<li class="place">Đà Nẵng:</li>
	<li><a href="#basics">Základní info</a></li>
	<li><a href="#sleep">Kde tam bydlet</a></li>
	<li><a href="#food">Jídlo a nákupy</a></li>
	<li><a href="#work">Odkud pracovat</a></li>
	<li><a href="#activities">Aktivity</a></li>
	<li><a href="#seasons">Kdy tam vyrazit</a></li>
	<li><a href="#transportation">Jak se tam přepravovat</a></li>
	<li><a href="#locations">Návazné lokace</a></li>
</ul>
<div id="danang" class="place">
	<div class="text">
		<div class="box" id="basics">
			<h1>Đà Nẵng, Việt Nam</h1>
			<p>Proč mě baví Da Nang? Velikost města je tak akorát, není to obří velkoměsto ale ani maloměsto. Části města jsou různá: od moderního centra jste za 10 minut mezi obydlím rybářských rodin, na pláži u hotelů nebo u chrámu Lady Budha. Baví mě, protože turisty tam spočítáte na prstech jedné ruky – většina jich míří do nedalekého Hoi An. Ve měste se mísí tradiční starší budovy, stromy v ulicích a moderní stavby. Je tam supr infrastruktura (i mimo město) více proudé jednosměrky, které jsou často poloprázdné, nepočítaje ty hlavní v centru, které vedou k mostům. Nejvíc to žije kolem místního trhu.</p>
			<ul>
				<li>1 milión obyvatel</li>
				<li>4. největší město ve Vietnamu</li>
				<li>1858 kolonizováno francouzi</li>
				<li>USA zde mělo největší vojenskou základnu v Indočíně</li>
				<li>1975 opět dobyto severovietnamskou armádou</li>
				<li>lokální specialita? <a href="https://en.wikipedia.org/wiki/M%C3%AC_Qu%E1%BA%A3ng">Mì Quảng nudle</a></li>
			</ul>
		</div>
		<div class="box" id="sleep">
			<h2>Kde tam bydlet?</h2>
			<p>V některém z hotelů v oblasti před pláží (viz mapa níže). V okolí jsou půjčovny motorek, seafood street-foody, je to dobrý rozcestník mezi starým městem, Lady Budha chrámem a cestou do Hoi An.</p>
			<ul>
				<li>Otevři si <a href="http://www.booking.com/searchresults.cs.html?label=gen173nr-1FCAEoggJCAlhYSDNiBW5vcmVmaDqIAQGYAQW4AQfIAQzYAQHoAQH4AQuoAgM&sid=5d1438ba7670583a52472b6452daf90e&class_interval=1&dest_id=6232&dest_type=region&dtdisc=0&group_adults=2&group_children=0&hlrd=0&hyb_red=0&inac=0&label_click=undef&nha_red=0&no_rooms=1&postcard=0&redirected_from_city=0&redirected_from_landmark=0&redirected_from_region=0&review_score_group=empty&room1=A%2CA&sb_price_type=total&score_min=0&src_elem=sb&ss=Da%20Nang%20Municipality%2C%20Vietnam&ss_all=0&ss_raw=da%20nang&ssb=empty&sshis=0&order=hpe">Da Nang na Booking.com</a> a koukni na aktuální nabídku</li>
				<li>Já spal za 180 Kč / noc <a href="https://www.booking.com/hotel/vn/anh-duong-2.cs.html">třeba tady</a></li>
				<li>Doporučuji si ten hotel sehnat až na místě, podívat se na pokoj, kouknout jestli zrovna kolem nebudují další hotel, což se tam děje. Těch hotelů je tam tolik, že místo vždy určitě najdete.</li>
			</ul>
		</div>
		<div class="box" id="food">
			<h2>Jídlo a nákupy?</h2>
			<p>Do supermarketu jsem v Da Nangu chodil jenom pro vodu. Nevařil jsem si – to při cestování v Asii nemá obecně moc smysl. Téměř jsem ani nekupoval na trhu ovoce, spíš jsem chodil na smoothies, protože místní je bělochovi nabídnou za několikanásobek normální ceny a nechcou jít s cenou níže. To pak ananas stojí více jako v Česku.</p> <p><i>EDIT 2017: Psal mi Petr Sršeň, že se mu na trhu dařilo dostat lepší ceny za ovoce, tak to zkuste, já příliš nebojoval ;)</i></p>
			 <p>Smoothies mají většinou za vyvěšenou cenu (20-25k dongů). Hlavně řekni bez cukru či kondenzovaného mléka, jinak ti to ustřelí srdce.</p>
			<ul>
				<li><a href="https://www.facebook.com/pages/Qu%C3%A1n-Chay-Li%C3%AAn-Hoa-49-L%C3%AA-H%E1%BB%93ng-Phong/156594901144709">Vege restaurace – zkuste jejich velký zeleninový hrnec!</a></li>
				<!--li>Pho bo</li>
				<li>Banh Mí</li>
				<li>na marketu </li-->
			</ul>

			<div class="notes">
				<h2>Kolik to tam tak stojí?</h2>
				<ul>
				<li>100 tisíc dongů = 100 Kč (plus mínus)</li>
				<li>Pho bo polévka: 30k dongů / 30 Kč</li>
				<li>Mi Quang nudle: 25k dongů / 25 Kč</li>
				<li>Banh mí bageta: 10-25k dongů</li>
				<li>Ubytování: 150k dongů a víc…</li>
				<li>Motorka: 100k dongů na den</li>
				<li>Plná nádrž benzínu: 30k dongů</li>
				<li>Letenka do Saigonu: od 400 Kč</li>
				<li>Sushi set pro dva: 420k dongů</li>
				</ul>
			</div>
		</div>
		<div class="box" id="work">
			<h2>Odkud pracovat</h2>
			<p>Ve městě je snad stovka kaváren. Cena za kávu je velmi nízka 10-20k dongů, většinou ještě dostanete ke kávě do druhé skleničky čaj. Ve většině jsou dost blbé (na práci) malé stolečky a židličky. Níže pár tipů na kavárny, které mají lepší stoly a v pohodě internet.</p>
			<ul>
				<li><a href="https://www.google.com/maps/place/T%E1%BB%95+c%C3%A0+ph%C3%AA+%C4%90%C3%A0+N%E1%BA%B5ng,+l%C3%B4+13+%C4%91%C6%B0%E1%BB%9Dng,+Haiphong,+Vietnam/@16.072731,108.2206099,21z/data=!4m6!1m3!3m2!1s0x314219c792252a13:0xfc14e3a044436487!2sDa+Nang,+H%E1%BA%A3i+Ch%C3%A2u+District,+Danang,+Vietnam!3m1!1s0x31421830d79f5049:0xe294c386a401a82c">Tổ cà phê Đà Nẵng</a> <br />
				  Moje nejoblíběnější kavárna, s masivním dřevěným stolem. Schází se tu mlaďoši, <a href="https://www.instagram.com/p/BBUwPh3KSIl">hrajou na kytaru</a>, čtou si, hrajou Warcraft. Velmi příjemná atmoška. Jsou tam stoly u kterých se dá pracovat ve stoje. <a href="https://www.instagram.com/p/BBQEwFIqSAZ/">Více jsem napsal</a> na Instagramu.
				</li>
				<li><a href="https://www.facebook.com/Aroi-Dessert-Cafe-124-Bạch-Đằng-Đà-nẵng-711732412294404">Aroi Dessert café</a> <br /> Až na tu někdy šílenou hudbu je to supr a v horním patře mají velké stoly i terasu.</li>
				<li><a href="https://www.tripadvisor.com/Restaurant_Review-g298085-d7023278-Reviews-The_Keys_Cafe-Da_Nang_Quang_Nam_Province.html">Keys café</a> <br /> Kavárna, kde se učí anglicky, rádi vám pomůžou/doporučí cokoliv ohledně Da Nangu</li>
				<li><a href="https://www.facebook.com/UrbanStation.DaNang/">Urban Station Da Nang</a> <br /> Několika patrová kavárna, v horních patrech se nám stávalo, že jsme měli celé patro pro sebe = velký klid.</li>
				<li>Petr Sršeň mi poslal tip na tuto <a href="https://www.facebook.com/85Designcafe/">kontejnerovou kavárnu u pláže</a>, díky!</li>
			</ul>
		</div>
		<div class="box" id="activities">
			<h2>Aktivity</h2>
			<p></p>
			<ul>
				<li><a href="https://www.google.cz/search?q=lady+buddha+temple+danang&rlz=1C5CHFA_enCZ546CZ546&biw=1274&bih=618&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjG3fOd-v3OAhXCtxQKHfY9AGgQ_AUIBigB">Lady Budha temple</a> <br /> 10 minut na motorce za městem, super výhled na západ slunce</li>
				<li><a href="https://www.google.com/maps/place/%C4%90%E1%BB%89nh+B%C3%A0n+C%E1%BB%9D,+Unnamed+Rd,,+Th%E1%BB%8D+Quang,+S%C6%A1n+Tr%C3%A0,+Da+Nang,+Vietnam/@16.109617,108.2799539,14z/data=!4m6!1m3!3m2!1s0x314219c792252a13:0xfc14e3a044436487!2sDa+Nang,+H%E1%BA%A3i+Ch%C3%A2u+District,+Danang,+Vietnam!3m1!1s0x31423d6e34ee0105:0x69e23a6263ffc6ec">Vyhlídka Đỉnh Bàn Cờ</a> <br /> Když budeš pokračovat cestou dále za Lady Budha, tak se dostaneš do hor na super vyhlídku, cestou kde jsme viděli i opice a potkali asi dva lidi na motorce za 15 minut. Čirá příroda!</li>
				<li><a href="">Motorkou na Hue!</a>
					Hue je město severně od Da Nangu, spojuje je cesta mezi horami, kterou rozhodně stojí za to projet! Vemte si raději i něco teplejšího na sebe. Dost se tam mění počasí, může přijít i mlha. Výhledy na moře, hory, přírodu fakt stojí za to! PS: bacha na krávy, můžou být za další zatáčkou jen tak uprostřed cesty :)
				</li>
				<li><a href="https://cs.wikipedia.org/wiki/Hoi_An">Hoi An</a> <br />
					Historické přístavní městečko, hezká pláž poblíž, více turistů, ale dá se to zvládnout :) asi 40-60 minut na motorce z Da Nangu.
				 </li>
				 <li><a href="https://www.google.com/maps/place/B%C3%A0+N%C3%A0+Hills,+TL+602,+H%C3%B2a+Ninh,+H%C3%B2a+Vang,+%C4%90%C3%A0+N%E1%BA%B5ng,+Vietnam/@16.0254794,108.0314398,13z/data=!4m6!1m3!3m2!1s0x314219c792252a13:0xfc14e3a044436487!2sDa+Nang,+H%E1%BA%A3i+Ch%C3%A2u+District,+Danang,+Vietnam!3m1!1s0x3141f60e6b3844c9:0x5c53b85f61797909">Bà Nà Hills</a> <br />
				 	Hrad a chrám v horách, krásné zahrady, výhled, příroda kolem. Více <a href="http://www.banahills.com.vn/en/">info na webu</a>.
				 </li>
				 <li><a href="https://www.google.cz/maps/uv?hl=cs&pb=!1s0x314210c62c63037d:0xb168fc4503bf59a3!2m5!2m2!1i80!2i80!3m1!2i20!3m1!7e115!4shttps://picasaweb.google.com/lh/sredir?uname%3D106583084772027735978%26id%3D6271991585170861762%26target%3DPHOTO!5sCh%C3%B9a+Non+N%C6%B0%E1%BB%9Bc+da+nang+-+Hledat+Googlem&imagekey=!1e3!2s-Z3nV_6DgeCY/VwqXHcRZLsI/AAAAAAAAA08/8Es5-0o_hn4ypf9l_hGGeGE1Y9MJw9GgA&sa=X&ved=0ahUKEwiS_cOz_v3OAhVBWxQKHaAHBagQoioIhQEwDg">Chùa Non Nước</a> <br />
				 	Krásné heskyně s chrámem. Kousek za městem, směrem na Hoi An.
				 </li>
			</ul>
		</div>
		<div class="box" id="seasons">
			<h2>Kdy tam vyrazit</h2>
			<p></p>
			<ul>
				<li><strong>Od března do srpna</strong></li>
				<li>jel bych březen/květen, pak tam začíná sezóna a ceny můžou jít nahoru</li>
				<li>září, říjen jsou bouřky a velké srážky</li>
				<li>listopad, prosinec, leden a únor je zima (kolem 12-18 stupňů) a vítr</li>
			</ul>
		</div>
		<div class="box" id="transportation">
			<h2>Jak se tam přepravovat</h2>
			<p><strong>Motorka!</strong> Zkuste i když z toho máte respekt, když budete řídit pomalu a koukat kolem sebe, nic vážného by se nemělo stát. Budete tak mít neskutečnou svobodu. Ráno si zajet na snídani na trh, pak na druhou stranu města do oblíbené kavárny, na oběd zase jinam a ještě zvládnete západ slunce v horách. <strong>Bez motorky jedině taxíky.</strong> Půjčovnu kol jsem neviděl, ale také by to byla možnost – Da Nang je poměrně plochý, okolní hory vyjímaje :)</p>
			<p>Kdo si netroufne na motorku, může využít taxi-appku <a href="https://www.grab.com/vn/">Grab</a>, s kterou přesuny vyjdou na 1/3 ceny obyč taxíku</p>
			<p>Do Da Nangu se pravděpodobně dostante buď ze Saigonu (Ho Chi Minh) nebo z Hanoje – z obou směrů jede vlak (cestá trvá 10+ hodin) a za podobnou cenu (400-800 Kč) seženete vnitrostátní let (a do dvou hodin jste na místě). Na letenky koukám přes <a href="http://skyscanner.com">Skyscanner.com</a> Na pochopení, jak fungují vlaky a kdy jezdí doporučuju naprosto boží web <a href="http://www.seat61.com/Vietnam.htm">Seat61.com</a>.</p>
		</div>
		<div class="box" id="locations">
			<h2>Návazné lokace</h2>
			<ul>
				<li>další místa směrem na jih <a href="http://wikitravel.org/en/Da_Lat">Da Lat</a>, <a href="http://wikitravel.org/en/Nha_Trang">Nha Trang</a>, <a href="http://wikitravel.org/en/Mui_Ne">Mui ne</a>, <a href="http://wikitravel.org/en/Ho_chi_minh_city">Ho Chi Minh</a></li>
				<li>severně <a href="http://wikitravel.org/en/Hanoi">Ha Noi</a>, <a href="http://wikitravel.org/en/Sa_Pa">Sa Pa</a>, <a href="http://wikitravel.org/en/Ha_Long_Bay">Ha Long Bay</li>
				<li><a href="http://wikitravel.org/en/Laos">Laos</a>: ještě jsem tam nebyl, ale všichni o něm básní (jen s internetem je to tam prý horší, tak možná fajn dvou tydenní dovča v rámci nomádství </li>
				<li>Siem Reap, Kambodža – <a href="http://wikitravel.org/en/Angkor_Archaeological_Park">chrámový kompex Angkor</a>: půjč si kolo za dolar, vyjeď brzo ráno a užíj si celý den až do setmění v tomhle úžasném místě!</li>
				<li><a href="http://wikitravel.org/en/Bangkok,_Thailand">Bangkok</a>: dobré místo na přelety, vedle Kuala Lumpur největší letecký HUB v Jihovýchodní Asii. Bangkok má pro mě velkou atmosféru a velmi mě baví. Spousta lidí tvrdí „rychle pryč“, mě se zdá, že je ve městě hezký balanc mezi velkoměstem a malými uličkami se stromy, kde jsou klidné kavárny, místní dělají ve svých malých obchůdcích, uslyšíte z chýše kokrhat kohouta, děti hrající si na boční ulici a tak dál :)</li>
			</ul>
		</div>
	</div>
	<div class="photos">
		<img src="assets/img/danang/danang1.jpg" alt="" />
		<img src="assets/img/danang/danang9.jpg" alt="" />
			<img src="assets/img/danang/danang10.jpg" alt="" />
		<img src="assets/img/danang/danang11.jpg" alt="" />
		<img src="assets/img/danang/danang2.jpg" alt="" />
		<img src="assets/img/danang/danang3.jpg" alt="" />
		<img src="assets/img/danang/danang4.jpg" alt="" />
		<img src="assets/img/danang/danang5.jpg" alt="" />
		<img src="assets/img/danang/danang6.jpg" alt="" />
		<img src="assets/img/danang/danang7.jpg" alt="" />
		<img src="assets/img/danang/danang8.jpg" alt="" />
	</div>
</div>
<div class="clear"></div>

{% include footer.html %}
{% include widget/course-719.html %}
