---
layout: base
title: "Lisabon, Portugalsko: Digitální nomádství - kam vyrazit"
description: "Tipy jak se usídlit a pracovat na dálku z Lisabonu v Portugalsku. Kde spát, odkud pracovat, co kolik stojí a kde nakupovat."
keywords: "Lisabon, Portugalsko, lokace, místo, digitální nomádství, kam vyrazit, kde, město, lokalita, práce na dálku"
permalink: lisbon.html
---

<ul class="submenu">
	<li class="home" title="Zobrazit rozcestník míst"><a href="index.html">☰</a></li>
	<li class="place">Lisabon:</li>
	<li><a href="#basics">Základní info</a></li>
	<li><a href="#sleep">Kde tam bydlet</a></li>
	<li><a href="#food">Jídlo a nákupy</a></li>
	<li><a href="#work">Odkud pracovat</a></li>
	<li><a href="#activities">Aktivity</a></li>
	<li><a href="#seasons">Kdy tam vyrazit</a></li>
	<li><a href="#transportation">Jak se tam přepravovat</a></li>
	<li><a href="#locations">Návazné lokace</a></li>
</ul>
<div id="#lisbon" class="place">
	<div class="text">
		<div class="box" id="basics">
			<h1>Lisabon, Portugalsko</h1>
			<p>Lisabon mě baví ve svých detailech. Vykachličkované domy, upletené svetry na stromech. Espresso a Pastél de Belém. Žluté tramvaje, vyhlídky, lidé – jejich energie a různorodost. Půl hodiny z centra vlakem na pláž, možnost surfovat. Trajekt přes řeku. Večerní tlumené lampy, kouř z kaštanů a tajuplnost – třeba kolem Martin Moniz.
			</p>
			<ul>
				<li>550 tisíc obyvatel v historickém centru, v okolí však další 3 miliony</li>
				<li>multikulturní město, lidé z Afriky, Asie a Blízký východu</li>
				<li>1755 velké zemětřesení a tsunami</li>
				<li>kopcovité město, kočičí dlažby, po celodenním chození padnete do postele</li>
				<li>historické žluté tramvaje</li>
				<li>blešák, Miradouros (vyhldídky)</li>
				<li>25 minut z centra vlakem na pláž</li>
				<li>místní dezert – Pastéis de Belém ♥</li>
			</ul>
		</div>
		<div class="box" id="sleep">
			<h2>Kde tam bydlet?</h2>
			<p>V Lisabonu jsem byl nejkratší dobu asi 10 dní a tak jsem bydlel jen v hostelech, které mě tedy velmi nadchli svou kvalitou i příznívou cenu. Vřele doporučuji tyto dva hostely, cenově jsou podobné – noc v dormitory pokoji mě stála 11 €. </p>
			<ul>
				<li><a href="http://www.equity-point.com/our-hostels/equity-point-lisboa/general-information.html">Equitypoint Lisbon</a> <br /> Velká kuchyň, dvě velké terasy, krásný velký obývák a i druhý tichý a menší (vhodný na skype hovory). Snídaně v ceně: ovoce a nějaké ovesné vločky. Hostel vede Diogo, s kterým jsem se v průběhu zkamarádil, <a href="https://www.flickr.com/photos/iogod/">nádherně fotí</a>, u mě <a href="http://dreamer.adammarcan.cz/post/132690787139/lisbon-feeling">na blogu pár fotek</a>, které jsem udělal, když jsme byli spolu fotit.</li>
				<li><a href="http://theindependente.pt/hs/">The Indenpendente</a> <br />
					Krásný designový hostel, poprvé v životě jsem spal nahoře na třípatrové poschoďovce. Taky má dobrou kuchyň a obývák, z kterého se dá pracovat – když jsem tam byl já (listopad), tak tam téměř nikdo nebyl = klid na práci. V přízemí hostelu je jejich restaurace, která je udájně jedna z nej ve městě + máte v ceně hostelu snídani – dva kousky chleba se sýrem, který vám naservirují na břidlicovém kameni, plus si můžete dát ovesné vločky, čaj,...
				</li>
			</ul>

		</div>
		<div class="box" id="food">
			<h2>Jídlo a nákupy?</h2>
			<p>Nakupoval jsem hlavně v supermarketu a pak si vařil. Každopádně alespoň pár tipů kam zajít.</p>
			<ul>
				<li><a href="https://goo.gl/maps/z1FM13yW2US2">Ponto Final</a> – skvělá restaurace na břehu řeky, stoly jsou vystrčené na betonovém molu až do řeky, skvělé odpoledne před zapadem slunce</li>
				<li>Ochutnávka vína <a href="https://www.google.com/maps/place/Pra%C3%A7a+do+Com%C3%A9rcio+MB,+1100-083+Lisboa,+Portugalsko/@38.707866,-9.1373672,20z/data=!4m6!1m3!3m2!1s0xd19347a23882505:0xd808c2b6e8423d1b!2sPra%C3%A7a+do+Com%C3%A9rcio,+1100-148+Lisboa,+Portugalsko!3m1!1s0xd19347a19ae633f:0x4e153d0c374cb9a8">na náměstí Praça do Comércio</a> - za 3 € můžeš zkusit 6 různých vín</li>
				<li>Pečené kaštany, nevím jestli je dělají i v létě, ale podzim a zima určitě, měl jsem je poprvé a překvapily!</li>
				<li>V Belému je pořád v provozu <a href="https://www.google.com/maps/place/Past%C3%A9is+de+Bel%C3%A9m,+R.+Bel%C3%A9m,+1300-085+Lisboa,+Portugalsko/@38.6969275,-9.2025745,17z/data=!4m2!3m1!1s0xd1ecb452efd715b:0xffeff6c6b46d9665">původní Paštelérie</a>, to chceš, ideální to spojit s procházkou v Belému či koncertem v CCB</li>
				<li>Ve čtvrti kolem Martin Moniz je spousta východních restaurací s dobrou kvalitou za fajn ceny (blízký východ, indické, asijské)</li>
				<li>A Ginjinha do Largo de Santo Antonio – malý nalívárna (na stojáka) višňovice u Národního divadla, má atmo a mňam!</li>
				<li><a href="www.timeout.com/market">Timeout market</a> – obrovská hala plná mini restaurací, kde můžete zkusit spoustu jídel a lá tapas</li>
			</ul>
			<div class="notes">
				<ul>
					<li>Káva a Pastel: 3 €</li>
					<li>Hostel 10-15 € / noc</li>
					<li>Potraviny v obchodě podobně jako u nás</li>
					<li>MHD lístek 1,35 € / 10 jízd 7,8 €</li>
					<li>Zpáteční let z Berlína od 1300 Kč</li>
				</ul>
			</div>
		</div>
		<div class="box" id="work">
			<h2>Odkud pracovat</h2>
			<p>Pracovat se dá dobře z obou zmíněných hostelů. Případně je ve městě dost dobrých kaváren s výběrovou kávou. </p>
			<ul>
				<li><a href="http://www.fabricacoffeeroasters.com/">Fábrica Coffee Roasters</a></li>
				<li><a href="https://montanashoplisboa.com/">Montana Lisboa</a></li>
				<li><a href="http://cphcoffeelab.pt/">Copenhagen Coffee Lab Lisboa</a></li>
				<li><a href="http://wish.com.pt/">WISH slow coffee house</a></li>
				<li><a href="https://www.thesurfoffice.com/lisbon/">The Surf office</a> – nomádský coworking s možností ubytování, založil jej slovák Peter Fabor</li>
			</ul>
		</div>
		<div class="box" id="activities">
			<h2>Aktivity</h2>
			<p></p>
			<ul>
				<ul>
					<li>Projít se kolem vody do Estrely a od <a href="https://goo.gl/maps/u5wzS8pk7yy">Basilicy v Estrele</a> si vzít tramvaj č. 28 až na konečnou Martin Moniz, tam si projit multikulti čtvrť a dát si jídlo v nějaké indické reštyce a pak si dát u divadla třešňovici</li>
					<li>Sejít dolu ulicí Rua do Alecrim na <a href="https://www.google.cz/maps/place/Cais+do+Sodr%C3%A9/@38.7061676,-9.1472965,17z/data=!4m13!1m7!3m6!1s0xd19347d8dc12f6f:0xbacc726ccb718a9a!2sCais+do+Sodr%C3%A9!3b1!8m2!3d38.7061676!4d-9.1451078!3m4!1s0xd193487639194b5:0xf1dd1b0b6b6c907e!8m2!3d38.7059084!4d-9.14437">Cais De Sodre</a> nádraží a jet směrem na Caiscais a vystoupit na pláži Carcaveles (dá se tam za cca 20 euro surfovat, případně jet na Caprica beach (za Ježíšem) </li>
					<li><a href="https://www.google.cz/maps/place/Thieves+Market/@38.7155377,-9.1265943,18z/data=!4m12!1m6!3m5!1s0xd19338a8d9ac64f:0x31b502d96273ec5!2sFeira+da+Ladra!8m2!3d38.7155921!4d-9.1254624!3m4!1s0x0:0x7b7bfdaaa63260e!8m2!3d38.7154623!4d-9.1258695">Blešák v Alfamě</a> – obrovský bleší trh, který funguje každé úterý a sobotu</li>
					<li>projít si Alfamu i v noci, má své kouzlo, probíhají tam komorní koncerty</li>
					<li>do Belému tramvají č. 15 <a href="https://www.google.cz/maps/place/Cais+do+Sodr%C3%A9/@38.7061676,-9.1472965,17z/data=!4m13!1m7!3m6!1s0xd19347d8dc12f6f:0xbacc726ccb718a9a!2sCais+do+Sodr%C3%A9!3b1!8m2!3d38.7061676!4d-9.1451078!3m4!1s0xd193487639194b5:0xf1dd1b0b6b6c907e!8m2!3d38.7059084!4d-9.14437">z Cais de Sodre</a>, je tam nej <a href="https://www.google.com/maps/place/Past%C3%A9is+de+Bel%C3%A9m,+R.+Bel%C3%A9m,+1300-085+Lisboa,+Portugalsko/@38.6969275,-9.2025745,17z/data=!4m2!3m1!1s0xd1ecb452efd715b:0xffeff6c6b46d9665">Paštelérie</a>, pomník u vody, <a href="https://www.ccb.pt">CCB</a> (kultura a koncerty)</li>
					<li>hrad <a href="http://castelodesaojorge.pt/en/">Castello de Lisboa</a>, vstup 8,5 euro</li>
					<li>všechny Miradouros (vyhlídky), na západ slunce je právě nej <a href="https://goo.gl/maps/itTHLocVsPD2">ta nad hradem</a></li>
					<li>odpoledne trajektem z <a href="https://www.google.cz/maps/place/Cais+do+Sodr%C3%A9/@38.7061676,-9.1472965,17z/data=!4m13!1m7!3m6!1s0xd19347d8dc12f6f:0xbacc726ccb718a9a!2sCais+do+Sodr%C3%A9!3b1!8m2!3d38.7061676!4d-9.1451078!3m4!1s0xd193487639194b5:0xf1dd1b0b6b6c907e!8m2!3d38.7059084!4d-9.14437">Cais de Sodre</a> do Cascilas, procházka po pobřeží <a href="https://www.google.cz/maps/place/National+Sanctuary+of+Christ+the+King/@38.6786369,-9.1713581,15z/data=!4m5!3m4!1s0x0:0x640bf28fe6e9ea81!8m2!3d38.6786369!4d-9.1713581">k soše Jeźíše</a> (replika té z Ria), doporučuju si dát nejdříve víno a jídlo <a href="https://goo.gl/maps/z1FM13yW2US2">v Ponto Final</a> úplně u vody a před západem slunce k Ježíšovi a nahoru na sochu (vstup nahoru 4 €), po západu zase zpátky trajektem (cca za 2 €). </li>
					<li>Projít si <a href="https://www.google.cz/maps/place/PARQUE+EXPO+98,+S.A./@38.7713598,-9.097329,15z/data=!4m5!3m4!1s0x0:0xbecc26bb60a3ba15!8m2!3d38.7713598!4d-9.097329">Expo 98</a>, blízko nádraží Oriente</li>
					<li><a href="https://www.google.cz/maps/place/Museu+Cole%C3%A7%C3%A3o+Berardo/@38.695642,-9.209245,15z/data=!4m2!3m1!1s0x0:0xa44cf637b59edab9?sa=X&amp;ved=0ahUKEwi7hO_I2IDPAhWBoBQKHf6FDN8Q_BIIgwEwDg">Muzeum moderního umění</a></li>
				</ul>
			</ul>
		</div>
		<div class="box" id="seasons">
			<h2>Kdy tam vyrazit</h2>
			<p>Nejchladnější je prosinec až únor kolem 10-12°C, což může být pořád přijatelnější než zima v Česku. Jel bych spíš někde mezi březnem až říjnem.</p>
		</div>
		<div class="box" id="transportation">
			<h2>Jak se tam přepravovat</h2>
			<p>Město je hodně kopcovité a s blbým povrchem: skejt ani kolo nepřipadají v úvahu. Chodil jsem tedy hodně pěšky, možno využívat také žluté tramvaje, metro, trajekt či vlak. Na vše lze aplikovat jízdenky MHD, 10 jízd koupíte za 7,8 €.</p>

		</div>
		<div class="box" id="locations">
			<h2>Návazné lokace</h2>
			<ul>
				<li>Berlín a Brusel – levné lety</li>
				<li><a href="http://wikitravel.org/en/Las_Palmas">Las Palmas</a>, Kanárské ostrovy</li>
				<li><a href="http://wikitravel.org/en/Porto_Santo">Porto Santo</a> (ostrůvek v Atlantiku)</li>
				<li><a href="http://wikitravel.org/en/Seville">Seville, Španělsko</a></li>
				<li><a href="http://matadornetwork.com/notebook/how-to-travel-by-cargo-ship/">Do Ameriky</a> (cargo lodí :)</li>
			</ul>
		</div>
	</div>
	<div class="photos">
		<img src="assets/img/lisbon/lisbon1.jpg" alt="" />
		<img src="assets/img/lisbon/lisbon2.jpg" alt="" />
		<img src="assets/img/lisbon/lisbon3.jpg" alt="" />
		<img src="assets/img/lisbon/lisbon4.jpg" alt="" />
		<img src="assets/img/lisbon/lisbon5.jpg" alt="" />
		<img src="assets/img/lisbon/lisbon7.jpg" alt="" />
		<img src="assets/img/lisbon/lisbon8.jpg" alt="" />
		<img src="assets/img/lisbon/lisbon9.jpg" alt="" />
		<img src="assets/img/lisbon/lisbon11.jpg" alt="" />
		<img src="assets/img/lisbon/lisbon12.jpg" alt="" />
	</div>
</div>
<div class="clear"></div>

{% include footer.html %}
{% include widget/course-719.html %}
