---
layout: base
title: "L'viv, Ukraine: Digitální nomádství - kam vyrazit"
description: "Digital nomading tips about Lviv. Where to live, work, shop, eat and what is actually interesting about this Ukrainian city."
keywords: "Lviv, Ukraine, digital nomad, nomading, coworking, accommodation, cafés"
permalink: lviv.html
---

<ul class="submenu">
	<li class="home" title="Zobrazit rozcestník míst"><a href="index.html">☰</a></li>
	<li class="place">L'viv:</li>
	<li><a href="#intro">Intro</a></li>
	<li><a href="#sleep">Accommodation</a></li>
	<li><a href="#food">Food and shopping</a></li>
	<li><a href="#work">Where to work from</a></li>
	<li><a href="#activities">Activities</a></li>
	<li><a href="#seasons">When to go</a></li>
	<li><a href="#transportation">Transportation</a></li>
	<li><a href="#locations">Connecting locations</a></li>
</ul>
<div id="lviv" class="place">
	<div class="text">
		<div class="box">
			<h1 id="intro">L'viv, Ukraine</h1>
			<p>L'viv was a big surprise for me! It has that strong Eastern Europe vibe (that's something really nostalgic if you also grew up in Communist Bloc): very old trams (btw they have Czech trams, from the 70's), buildings, people who still work, Cyrillic alphabet, street cats, poor english language skills (even from youths), and of course some drunk people around in the middle of the day. BUT! <strong>L'viv is full of culture and history</strong>, has some <strong>great cafés with specialty coffee</strong>, modern <strong>coworking spaces</strong>, beautiful city center (comparable to Vienna or Prague), full of historical buildings, churches, opera and so on. It has <strong>many trees, parks and the city is called London of Ukraine</strong>, because it gets some rain-showers almost every day.</p>
		</div>
		<div class="box">
			<h2 id="sleep">Accommodation</h2>
			<p>I visited this city together with my girlfriend and we stayed one month <a href="https://www.airbnb.com/rooms/15037439">in this Airbnb flat</a>: new building, 2 rooms, 1 kitchen and huge balcony in the 9th floor, in a front row of this block of flats with a view to the city center. <strong>Monthly rent was a 480 EUR</strong>, which is currently something like 14 700  Ukrainian Hryvnias. Locals told us, that you could get such a flat for approx. 35% less, so if you would like to stay for 3+ months, you can try to get a better offer or look at the local real estate market.</p>
		</div>
		<div class="box">
			<h2 id="food">Food and shopping</h2>
			<p>First of all: you can find almost <strong>everywhere around small grocery stores</strong> (called Produkty, in English: Products), open from 7 am to 11 pm (also on the weekend). Good thing is that <strong>they accept credit/debit cards almost everywhere</strong> in the city.</p>

			<p><strong>I highly recommend you</strong> to go shop veggies, fruits, eggs,... on the local <a href="https://goo.gl/maps/gV67mH2nFXQ2">Krakivsky market</a> – you won't only save money (stuff are incredibly cheap there), but you will also have a great authentic experience every time there. Really old grandmas are selling there, if you learn few sentences in the Ukrainian language (including some nice smile) they will love you! </p>

			<p>If you need a big supermarket, with some advanced western food :) go to the <a href="https://goo.gl/maps/cUpu6K6nh1t">Forum shopping center</a>.</p>

			<p>There are <strong>several great vegan/vegetarian restaurants</strong> (links below), but you can also find almost everywhere some non-meat meals in ordinary local restaurants, more like side-dishes, but anyway, try it ;)</p>

			<p>Watch out: <strong>tap water is not drinkable</strong> here, they have some old Soviet water purification station, so you have to buy drinkable water – but at least, you can find this re-fill stations, fortunately – one was just at our flat.</p>

			<p>You <strong>can't buy any alcohol between 10 pm - 10 am</strong>. I would say, for a good reason. Cigarettes are bloody cheap here, like 1 euro per a package, but they will apply significantly higher tax on them by 2020 – it's a condition from EU for bigger economical cooperation.</p>

			<h3 style="margin: 30px 0 20px 0;">Favorite places to go:</h3>

			<p><strong>To eat:</strong></p>
			<ul>
				<li><a href="https://goo.gl/maps/9kivM9DcXuv">Green</a>, many raw and fresh veggie options</li>
				<li><a href="https://goo.gl/maps/eg3wLzvJTyo">Vegano Hooligano</a>, try their wraps! </li>
				<li><a href="https://goo.gl/maps/61wc6GeqZAL2">Hrylʹ-Bar</a>, very local place: stuffed chickens, potates, classic salads, horylka – ukranian’ vodka, always full of local people</li>
				<li><a href="https://goo.gl/maps/ppX61VTE3y42">Puzata Hata</a>, local food, buffet style</li>
			</ul>
			<p><strong>To drink:</strong></p>
			<ul>
				<li><a href="https://goo.gl/maps/SuP8n9HTWr12">Pravda</a>, crafted beers, evening concerts</li>
				<li><a href="https://goo.gl/maps/PmcxPHGSQzv">Dzyga cultural center</a>, gallery/café/pub</li>
			</ul>

			<p><strong>Cafés:</strong></p>
			<ul>
				<li><a href="https://goo.gl/maps/ciCh2Ro5uoT2">Black Honey</a></li>
				<li><a href="https://goo.gl/maps/Znhs2n5sa9P2">Svit Kavy na Rynku</a></li>
				<li><a href="https://goo.gl/maps/6fvgHPumvwE2">Something Interesting</a></li>
			</ul>

			<div class="notes">
				<ul>
					<li>100 hryvnias (UAH) = 3,3 € / 85 CZK</li>
					<li>Specialty coffee: 20-60 hryvnias</li>
					<li>Meal in a nice restaurant 75-150 hryvnias</li>
					<li>Meal in a local restaurant 30-100 hryvnias</li>
					<li>Veggies &amp; fruit on the local market: so bloody cheap!</li>
					<li>MHD (bus/tram) ticket: 5 hryvnias </li>
				</ul>
			</div>
		</div>
		<div class="box">
			<h2 id="work">Where to work from</h2>
			<p>Immidietly after we arrived, we subscribed for a membership of <a href="http://ihub.world/ua/lviv-ua/">local iHub</a>. It was a great choice for us: 10 mins walk from that flat, nice environment, fast internet, 24h access, fixed desk, lockers – all of that <strong>for 50 euro per month</strong>. </p>
			<p>There are also few others: <a href="http://communa.net.ua">Communa</a> and <a href="https://coworking.lviv.ua">OK Factory Coworking</a>.</p>
		</div>
		<div class="box">
			<h2 id="activities">Activities</h2>
			<p><strong>L'viv breathes for culture</strong>. So you can find always some concerts, art exhibitions, street artist and musicants around.
			</p>
			<ul>
				<ul>
				<li><a href="https://goo.gl/maps/y51oANpETM22">High Castle</a>, city view point</li>
				<li><a href="https://goo.gl/maps/edt5s6mRkpq/">L’viv Citadel</a>, old prison</li>
				<li><a href="https://goo.gl/maps/pay75MZXdvx">Book market</a> and <a href="https://goo.gl/maps/RTsk9ApC74T2">Flea market</a></li>
				<li>If you love weird places, go to <a href="https://goo.gl/maps/g4iVwAH4Tw12">this shoping center</a>, airport nearby.</li>
				<li><strong>Just take a tram to any final station</strong>, there are huge blocks of flats everywhere around and it could be a strong experience.</li>
				</ul>
			</ul>
		</div>
		<div class="box">
			<h2 id="seasons">When to go</h2>
			<p>Depends on your attitude. It's european moderate weather, 4 seasons. I would personally come somewhere <strong>between April and October</strong>. I would try to avoid summer, it can be pretty hot there and also more crowded city center, because of summer tourists.</p>
		</div>
		<div class="box" id="transportation">
			<h2>Transportation</h2>
			<p><strong>Trams and trolley/buses operate all around</strong> the city. Single ticket to enter in, costs <strong>just 5 hryvnias</strong>. Public transport can get pretty overcrowded and <strong>UBER it's pretty cheap</strong>, so it your choice. Anyway L'viv center is not that big and <strong>everything is in a walkable distance</strong>.</p>

			<p>You can arrive here by buses: <a href="https://le.cz/en">LeoExpress</a> (has a nice connection and fastest way to Prague), or a bit longer/complicated/adventurous is <a href="https://regiojet.cz/en">RegioJet</a> (train/bus) and then local train from Mukačevo. Also <a href="https://www.flixbus.com">Flixbus</a> comes here. Best option depends on where you are coming from. Try <a href="https://goeuro.com">GoEuro.com</a>, always helps me to figure it out.</p>

			<p><a href="https://goo.gl/maps/NvQC9bW88542">L'viv has also airport</a> (LWO), so probably with one overstop (probably in Kiev or Warsaw) you can get there very fast for reasonable price.</p>
		</div>
		<div class="box">
			<h2 id="locations">Connecting locations</h2>
			<ul>
				<li>Kiev (Ukraine)</li>
				<li>Krakow (Poland)</li>
				<li>Lublin (Poland)</li>
				<li>Bratislava (Slovakia)</li>
				<li>Prague (Czech Republic)</li>
				<li>Vienna (Austria)</li>
				<li>Budapest (Hungary)</li>
				<li>Bukurest (Romania)</li>
				<li>or whatever you wanna try in Central/Eastern Europe :)</li>
			</ul>
		</div>
	</div>
	<div class="photos">
		<img src="assets/img/lviv/lviv1.jpg" alt="" />
		<img src="assets/img/lviv/lviv6.jpg" alt="" />
		<img src="assets/img/lviv/lviv16.jpg" alt="" />
		<img src="assets/img/lviv/lviv5.jpg" alt="" />
		<img src="assets/img/lviv/lviv15.jpg" alt="" />
		<img src="assets/img/lviv/lviv13.jpg" alt="" />
		<img src="assets/img/lviv/lviv10.jpg" alt="" />
		<img src="assets/img/lviv/lviv11.jpg" alt="" />
		<img src="assets/img/lviv/lviv3.jpg" alt="" />
		<img src="assets/img/lviv/lviv8.jpg" alt="" />
		<img src="assets/img/lviv/lviv2.jpg" alt="" />
	</div>
</div>
<div class="clear"></div>

{% include footer.html %}
{% include widget/course-719.html %}
