---
layout: base
title: "Malága, Španělsko: Digitální nomádství - kam vyrazit"
description: "Tipy jak se usídlit a pracovat na dálku z Malágy ve Španělsku. Kde spát, odkud pracovat, co kolik stojí a kde nakupovat."
keywords: "Malága, Španělsko, lokace, místo, digitální nomádství, kam vyrazit, kde, město, lokalita, práce na dálku"
permalink: malaga.html
---

<ul class="submenu">
	<li class="home" title="Zobrazit rozcestník míst"><a href="index.html">☰</a></li>
	<li class="place">Málaga:</li>
	<li><a href="#basics">Základní info</a></li>
	<li><a href="#sleep">Kde tam bydlet</a></li>
	<li><a href="#food">Jídlo a nákupy</a></li>
	<li><a href="#work">Odkud pracovat</a></li>
	<li><a href="#activities">Aktivity</a></li>
	<li><a href="#seasons">Kdy tam vyrazit</a></li>
	<li><a href="#transportation">Jak se tam přepravovat</a></li>
	<li><a href="#locations">Návazné lokace</a></li>
</ul>
<div id="malaga" class="place">
	<div class="text">
		<div class="box">
			<h1 id="basics">Málaga, Španělsko</h1>
			<p>Proč mě baví Málaga? Je to nejjižněji položené větší město v Evropě. Má 300+ slunečných dní a i v zimě se tam teplota pohybuje kolem 20 stupňů, na sluníčku přes den se občas vyšplhá i k třícítce! Město má pláže a historické centrum, které má svého ducha. Spousta typických španělských tapas barů, cafaterií. Levné a lokální suroviny na trzích (avokáda, pomeranče, mandarinky, rajčata, listová zelenina). Vhodná místa pro skateboarding. Dobrý výchozí bod pro výlety do okolních měst.
			</p>
			<ul>
				<li>600 tisíc obyvatel</li>
				<li>Univerzita: město je plné erasmus studentů</li>
				<li>nejižněji položené větší město, 300+ slunečných dnů</li>
				<li>pár hodin trajektem do Maroka</li>
				<li>přístavní město</li>
				<li>historický arabský vliv</li>
				<li>narodil se zde Pablo Picasso a Antonio Banderas</li>
			</ul>
		</div>
		<div class="box">
			<h2 id="sleep">Kde tam bydlet?</h2>
			<p>Záleží jak dlouho zůstanete. Pokud jen třeba na měsíc, doporučuju <a href="https://www.airbnb.com/s/malaga">Airbnb</a>. Pokud na déle doporučuju si nejdříve zarezervovat 3-5 nocí <a href="http://www.booking.com/hotel/es/feel-hostels-city-center.cs.html">v tomto hostelu</a> v centru (mají supr kychyň a čisté pokoje). Během těchto dní hledat ubytování na lokálních realitních serverech (<a href="http://www.easypiso.com/">EasyPiso</a>, <a href="https://www.idealista.com/">Idealista</a> a sdílené bydlení lze také <a href="https://www.facebook.com/Erasmus-Málaga-288316687997502">sehnat na Facebooku</a>) koupit lokální SIMku s 10 € a volat na čísla u inzerátu. Kdybyste měli problém se španělštinou, poproste o pomoc recepčního z hostelu. Měsíční nájmy za sdílený pokoj začínají kolem 200 €, slušnější bydlení 280+ €. Mě se líbilo žít v lokálnější čtvrti Huelin (západní strana města), ale i centrum má něco do sebe!</p>
		</div>
		<div class="box">
			<h2 id="food">Jídlo a nákupy?</h2>
			<p>Ve městě jsou dva hlavní trhy s ovocem, zeleninou, rybami... hlavní centrální <a href="https://goo.gl/maps/P2v9h7zxsY42">Mercado de Atarazanas</a> (trochu dražší) a <a href="https://goo.gl/maps/vdyJnfnwNCK2">Mercado de Huelin</a> (levnější, bez turistů). Po městě je spousta (mimo historické centrum) supermarketů, kde koupíte cokoliv dalšího, já tam chodil hlavně pro fazole, rýži, cizrnu, tortilly a řecký jogurt.</p>
			  <p>Tím, že jsem si vařil zejména doma, tak nemůžu doporučit (nemám vlastní zkušenost) žádnou restauraci, je toho hodně, vypíchnu <a href="https://www.elpimpi.com/">El Pimpi bar</a>, kde mají skvělé tapas i vlastní víno. Na churros y chocolate musíte <a href="https://goo.gl/maps/E7JM9r9rjBP2">do Casa Arranda</a>.</p>
			<div class="notes">
				<ul>
					<li>Pokoj ve sdíleném bytě 200-400 €</li>
					<li>Vlastní byt 600+ €</li>
					<li>Káva: 1,5 - 3 €</li>
					<li>Snídaně v Cafaterii 4-8 €</li>
					<li>Rajčata, pomeranče, mandarinky,
					avokáda, saláty za 1kg: 1-3 €</li>
					<li>Levné datle a koření z Maroka</li>
					<li>MHD bus 1,30 €</li>
					<li>Nejlevnější lety z Berlína a Bratislavy</li>
				</ul>
			</div>
		</div>
		<div class="box">
			<h2 id="work">Odkud pracovat</h2>
			<p><strong>Pracoval jsem hodně z domu</strong> a město jsem si užíval hlavně na skejtu nebo u moře. Po měste je však spousty kaváren a restaurací, většinou však bez výběrové kávy, dělající klasické cafe solo &amp; cafe con leche – prostě kafe jaké dostanete třeba v Regiojetu. </p>
			<ul>
				<li><a href="https://goo.gl/maps/zghxzyFJ18A2">Cafe con Libros</a>: útulná kavárna s atmoškou</li>
				<li><a href="https://goo.gl/maps/ZrdJitKsbMv">Cafe Central</a>: klasika na hlavním náměstí</li>
				<li><a href="https://goo.gl/maps/GpZErGwkgLs">El Último Mono Juice &amp; Coffee</a>: nejlepší káva ve městě jakou jsem našel, s velmi příjemnou obsluhou </li>
				<li><a href=" https://goo.gl/maps/maeTtNBpdTC2">Santa Canela Café-Crepería</a>: připravují skvělou kávu (i filtrovanou V60, chemex, aeropress), díky za tip kamarádovi Martinovi. Případně tady <a href="https://blog.martinhujer.cz/malaga-podruhe/">jeho další tipy</a>.</li>
			</ul>
		</div>
		<div class="box">
			<h2 id="activities">Aktivity</h2>
			<p></p>
			<ul>
				<ul>
				<li><a href="https://en.wikipedia.org/wiki/Alcazaba_of_M%C3%A1laga">Alcazaba</a>: v neděli po 14:00 zdarma</li>
				<li><a href="http://cacmalaga.eu/">Centro de Arte Contemporáneo</a></li>
				<li><a href="http://www.museopicassomalaga.org/">Museo Picasso</a></li>
				<li><a href="http://www.andalucia.com/cities/malaga/teatro-romano.htm">Románské divadlo</a></li>
				<li>pláž Malagueta a procházky kolem moře</li>
				<li><a href="http://malaga.hammamalandalus.com/">arabský wellness</a></li>
				<li>skateboarding :)</li>
				</ul>
			</ul>
		</div>
		<div class="box">
			<h2 id="seasons">Kdy tam vyrazit</h2>
			<p>Celoročně, ale <strong>jel bych na zimu</strong> – od května do října je sezóna, více lidí a větší ceny. V zimě průměrně mezi 16-25 °C, chladnější noci – v domech poměrně často chybí topení – je možnost koupit přímotop, nebo spát ve svetru :)</p>
		</div>
		<div class="box" id="transportation">
			<h2>Jak se tam přepravovat</h2>
			<ul>
				<li>Kolo (půjčit nebo i koupit a následně prodat)</li>
				<li>skateboard :) aspoň ten malý, město má fakt skvělé hladké chodníky a všude budete dříve</li>
				<li>pěšky – Málaga je skvelá na procházky!</li>
				<li>MHD – po měste jezdí všude autobusy, lístek za 1,30 €</li>
				<li><a href="http://blablacar.com">BlablaCar.com</a> – skvělý prostředek jak se dostat do okolních měst: levněji, rychleji a ještě potkáš nějaké lokály :)</li>
			</ul>
		</div>
		<div class="box">
			<h2 id="locations">Návazné lokace</h2>
			<ul>
				<li>Maroko! Lodí do <a href="http://wikitravel.org/en/Tangier">Tangieru</a> nebo do <a href="http://wikitravel.org/en/Ceuta">Ceuty</a></li>
				<li><a href="http://wikitravel.org/en/Tarifa">Tarifa</a> (nebo <a href="http://wikitravel.org/en/Algeciras">Algeciras</a>) – přístavy odkud do Maroka</li>
				<li><a href="http://wikitravel.org/en/Seville">Seville</a></li>
				<li><a href="http://wikitravel.org/en/Granada_(Spain)">Granada</a></li>
				<li><a href="http://wikitravel.org/en/Cordoba_(city,_Spain)">Cordoba</a></li>
				<li><a href="http://wikitravel.org/en/Barcelona">Barcelona</a></li>
				<li><a href="http://wikitravel.org/en/Valencia">Valencie</a></li>
				<li><a href="http://wikitravel.org/en/Lisbon">Lisabon</a></li>
			</ul>
		</div>
	</div>
	<div class="photos">
		<img src="assets/img/malaga/malaga12.jpg" alt="" />
		<img src="assets/img/malaga/malaga11.jpg" alt="" />
		<img src="assets/img/malaga/malaga1.jpg" alt="" />
		<img src="assets/img/malaga/malaga2.jpg" alt="" />
		<img src="assets/img/malaga/malaga3.jpg" alt="" />
		<img src="assets/img/malaga/malaga4.jpg" alt="" />
		<img src="assets/img/malaga/malaga5.jpg" alt="" />
		<img src="assets/img/malaga/malaga8.jpg" alt="" />
		<img src="assets/img/malaga/malaga10.jpg" alt="" />
		<img src="assets/img/malaga/malaga9.jpg" alt="" />
	</div>
</div>
<div class="clear"></div>

{% include footer.html %}
{% include widget/course-719.html %}
